@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  background-color: rgba(232, 233, 228, 0.5);
}

a {
  text-decoration: none;
}

.main-header_logo {
  width: 9.5rem;
  position: fixed;
  left: 1rem;
  top: 1rem;
}

.main-header_text a {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 0 1.5rem 0;
  color: black;
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .main-header_logo {
    width: 5.5rem;
    top: 1.5rem;
    left: 1.3rem;
  }

  .main-header_text a {
    font-size: 1.5rem;
    text-align: center;
    left: 30%;
    transform: translateX(0);
  }
}

.book-nav_container {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1.5rem;
  transition: 1s;
}

.book-nav {
  position: relative;
  text-align: right;
}

.book-nav a {
  color: black;
}

.menu-book {
  font-size: 1.1rem;
}

.dropdown1,
.dropdown2 {
  opacity: 0;
  padding-top: 0.5rem;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

.book-nav_container:hover .dropdown1,
.book-nav_container:active .dropdown1,
.book-nav_container:hover .dropdown2,
.book-nav_container:active .dropdown2 {
  opacity: 1;
}

.dropdown1:hover,
.dropdown1:active,
.dropdown2:hover,
.dropdown2:active {
  text-decoration: underline;
}

.nav_about a {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1.5rem;
  color: black;
  font-size: 1.1rem;
}

.nav_about a:hover,
.nav_about a:active {
  text-decoration: underline;
}

.nav_events a {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  color: black;
  font-size: 1.1rem;
}

.nav_events a:hover,
.nav_events a:active {
  text-decoration: underline;
}
