@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300;1,400&display=swap");

.intro-image > img {
  width: 300px;
}

.intro-container {
  margin-top: 12%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro-title {
  font-size: 2.7rem;
  margin-bottom: 1.7rem;
  font-style: italic;
}

.intro-text {
  margin-left: 4rem;
  width: 30vw;
  text-align: center;
}

.intro-text_sub {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.7rem;
  font-size: 1.2rem;
}

.intro-text_sub span,
.intro-text_main span {
  font-style: italic;
}

.side-image_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  margin: 4rem 0 10rem 0;
}

.side-image {
  width: 15.5rem;
}

@media only screen and (max-width: 768px) {
  .intro-title {
    line-height: 0.9;
  }
  .intro-container {
    flex-direction: column;
    margin-top: 30%;
  }
  .intro-image > img {
    width: 50vw;
    margin-bottom: 2rem;
  }
  .intro-text {
    margin-left: 0;
    width: 70vw;
    text-align: center;
  }
  .side-image_container {
    flex-direction: column;
    width: 60vw;
  }
  .side-image {
    margin: 0.5rem 0;
  }
}

.image {
  position: sticky;
  top: 13%;
  transition: 1s;
}

.top-btn a {
  position: fixed;
  bottom: 1rem;
  font-size: 1.5rem;
  color: black;
}

@media only screen and (max-width: 768px) {
  .image {
    top: 30%;
    width: 70%;
    transform: translateX(-0.8rem) scale(1.3);
  }
}
